/* ~~~~ variables ~~~~ */

:root {

    /* général */

    --w-sidebar:50px;
    --h-sidebar: 50px;
    --ff-t:Gabarito;
    --ff-st:Roboto;
    --ff-p:Noto Sans;
    --fs-t:1.5vw;
    --w-main: 60vw;

    /* projets */
    
    --w-carton:300px;
}


img{
    width: 100%; height: 100%;
}

/* ~~~~  général  ~~~~ */

* {box-sizing: border-box; margin: 0; padding: 0;}

ul{
    list-style-type: none;
}

body {background-color: rgba(0, 0, 0, 0);
    position: relative;
    font-family: "Noto Sans", sans-serif;
    font-size: 13px;
    margin: auto;
    
}

p{
    font-family: var(--ff-p);
}

a:link { text-decoration: none;}
  
a:visited {text-decoration: none; color: black;}

a:hover {color: white;}

a:active {color: white;}

/* ~~~~  sidebar  ~~~~ */

#sidebar {background-color: rgb(228, 54, 54);

    width: var(--w-sidebar);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#sidebar h1{background-color: rgba(0, 255, 255, 0);

    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-size: var(--fs-t);
}

#sidebar ul{background-color: rgba(0, 255, 255, 0);
    display: inline-block;

    margin-left: auto;
    margin-right: auto;

    writing-mode: vertical-rl;
    text-orientation: mixed;
    flex-basis: content;
}

#sidebar li{ 
    font-size: 15px;
    font-weight: 500;
    display: block;
    padding: 8px 0px;
    text-align: center;
}

#sidebar h1{background-color: rgba(0, 255, 255, 0);
    font-family: var(--ff-t); 
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;

    padding: 8px 0px;
    text-align: center;
    
}

#sidebar li{background-color: rgba(0, 255, 255, 0);
    
    font-family: var(--ff-t);
    letter-spacing: 0.5px;
    font-size: 15px;
    font-weight: 500;
   
    padding: 8px 0px;
    text-align: center;
 
}

#sidebar li:hover{color: white;}
#sidebar h1:hover{color: white;}

/* ~~~~  main  ~~~~ */

#main{background-color: rgba(0, 255, 255, 0);

    position: relative;
    min-height: 100vh;
    width: var(--w-main);
    margin: auto;
}

/* accueil */

#categories {
    z-index: 10;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    margin: 10px 0;

}

#categories > li {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 10px;
    
    line-height: 0;
    padding: 12px 12px;
    background-color: rgba(194, 194, 194, 0.486);
    margin-right: 10px;
    

}

#categories > li:last-child {margin-right: 0;}

#categories > li:hover {
    background-color: black;
    color: white;
}


#projets{
    display: flex;    
    flex-wrap: wrap;
    justify-content: space-between;
}

.icons {
    position: relative;
    width: 32%;
    margin-bottom: 2%;
    
}

.icons img{

    width: 100%;
    height: 100%;
}
.icons p{
    z-index: -5;
    background-color: rgba(0, 0, 255, 0.288);
    margin: auto;
    line-height: 0;
    position: absolute;
    padding: 50% 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.icons img:hover{
    opacity: 20%;
}



/* ~~~~ mediaqueries ~~~~ */


/* écran */

@media screen and (max-width: 1300px) {

:root{
    --w-sidebar:50px;
    --w-main: 70vw;
    --fs-t:2vw;

}

/* petit écran */

}

  @media screen and (max-width: 900px) {


.icons {
    width: 47.5%;
    margin-bottom: 5%;
}
}

/* téléphone */

@media screen and (max-width: 480px) {




:root{
    --w-sidebar:50px;
    --w-main: 70vw;
}

#main{
    width: 100%;
    padding: 0 5%;
}

#sidebar{
    position: relative;
    width: 100%;
    height: 45px;
    flex-direction: row;
    justify-content: space-around;
}


#sidebar ul > li{ writing-mode:horizontal-tb;height: 100%; padding: 22.5px 0; line-height: 0;}

#sidebar h1{ writing-mode:horizontal-tb;height: 100%; padding: 22.5px 0; line-height: 0;}

.icons {
    width: 100%;
}




#categories{
    position: sticky;
    justify-content: space-between;
    top: 0;
}

#categories > li{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

}




